@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css2?family=Rowdies&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');


/*#feedback-page{
	text-align:center;
}*/

*{
	margin: 0;
	padding: 0;
	outline: none;

}


body{
	background:url(../img/background.jpg) repeat;
  	background-size: cover;
	display: block;
	/*align-items: center;
	justify-content: center;*/
	min-height: 100vh;
}

.total-container{
	position: absolute;
    left: 50%; /* position the left edge of the element at the middle of the parent */

    /*transform: translate(-50%, -50%);
	float:left;
	left: 50%;
	position: absolute;*/
	width:400px;
	margin:auto;
	padding: 50px 35px 10px 35px;
	text-align: center;	
	background-color:rgba(99,83,105,0.8);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
  	margin-top:30px;
	margin-left: -260px;
	
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
  	border-radius:7px;
  	
  	
}
.total-container .progress-bar{

	display: flex;
	margin: 40px 0;

}

.total-container .progress-bar .step{
position: relative;
text-align: center;
width: 100%;
}

.progress-bar .step p{

	font-size: 18px;
	font-weight: 500px;
	color: #000000;

}

.progress-bar .step p.active{
	color: #d43f8d;

}
.progress-bar .step .bullet::before,
.progress-bar .step .bullet::after{

position: absolute;
content: '';
bottom: 11px;
right: -103px;
height: 3px;
width: 97px;
background: #262626;
}

.progress-bar .step:last-child .bullet::before,
.progress-bar .step:last-child .bullet::after{

	display: none;
}

.progress-bar .step .bullet.active{
	border-color: #d43f8d;
	background: #d43f8d;
}

.progress-bar .step .bullet.active span{
	display:none;
}

.progress-bar .step .check.active{
	display:block;
	color:fff;

}

.progress-bar .step .bullet.active::after{

background: #d43f8d;
transform: scaleX(0);
transform-origin:left;
animation: animate 0.3s linear forwards;
}

@keyframes animate{
	
100%{
	transform: scaleX(1);
}
}

.progress-bar .step .bullet{
position: relative;
 height: 25px;
 width: 25px;
 border: 2px solid #000;
 display: inline-block;
 border-radius: 50%;
 transition: 0.2s;
}

.progress-bar .step .bullet span{
font-weight: 500;
font-size: 17px;
line-height: 25px;
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.progress-bar .step .check{
position: absolute;
top: 50%;
left: 70%;
font-size:15px;
transform: translate(-229%,-2%);
display: none;

}

.total-container header{
	font-size: 35px;
	font-weight: 600px;
	margin: 0 0 30px 0;

}

.total-container .form-div{
	width: 100%;
	overflow: hidden;
	
	}

.form-div form{
	display: flex;
	width: 400%;
}

.form-div form .page{
	width: 25%;
	transition: margin-left 0.3s ease-in-out;
}

.form-div form .page .title{
text-align: left;
font-size: 24px;
font-weight: 500;
}

.form-div form .page .title .field{
width: 30%;
margin:10px;

}

/*
label{
	font-family:'Montserrat', Arial, Helvetica, sans-serif;
	font-weight:500;
	font-size: 15px;
	color:#66fcf1;
	display:block;
	text-align: center;
	
}

p{
	font-family:'Roboto Slab', sans-serif;
	font-weight:500;
	font-size: 21px;
	color:#5DEFB9;
	text-align: center;
	margin-bottom:20px;
}


*/
.feedback-input {
	color:#3c3c3c;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  	font-weight:500;
	font-size: 15px;
	border-radius: 11px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left:26px;
	width:89%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  /*padding: 13px 13px 13px 54px;*/
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
.nome{
	/*background-image: url(../img/arrow-down.svg);*/
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.nome:focus{
	/*background-image: url(img/arrow-down.svg);*/
	background-size: 30px 30px;
	background-position: 8px 5px;
 	background-position: 11px 8px;
	background-repeat: no-repeat;
}

input:hover, input:focus{
	background-color:white;
}

.field.btn{
	margin-top:30px;
}

.button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:right;
	width: 50%;
	border: #fbfbfb solid 4px;
	border-radius: 11px;
	cursor:pointer;
	background-color: #5DEFB9;;
	color:white;
	font-size:14px;
	padding-bottom:13px;
	padding-top:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-right:9px;
  	font-weight:700;
}

.button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

.select-box {
	 	width:100%;
	}


@media only screen and (max-width: 800px) {
	.total-container{
		left: 3%;
		
		width: 50%;
		margin-left: 10%;
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.field{
	
	width:89%
	}
}



