@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css2?family=Rowdies&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

html{  
  background:url(../img/background.jpg) repeat;
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(99,83,105,0.8);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 560px;
	float: left;
	left: 50%;
	position: absolute;
  	margin-top:30px;
	margin-left: -260px;
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
  	border-radius:7px;
}

label{
	font-family:'Montserrat', Arial, Helvetica, sans-serif;
	font-weight:500;
	font-size: 15px;
	color:#66fcf1;
	display:block;
	text-align: center;
	
}

p{
	font-family:'Roboto Slab', sans-serif;
	font-weight:500;
	font-size: 21px;
	color:#5DEFB9;
	text-align: center;
	margin-bottom:20px;
}



.feedback-input {
	color:#3c3c3c;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  	font-weight:500;
	font-size: 15px;
	border-radius: 11px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left:26px;
	width:89%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
.nome{
	/*background-image: url(../img/arrow-down.svg);*/
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.nome:focus{
	/*background-image: url(img/arrow-down.svg);*/
	background-size: 30px 30px;
	background-position: 8px 5px;
 	background-position: 11px 8px;
	background-repeat: no-repeat;
}

input:hover, input:focus{
	background-color:white;
}

.submit{
	margin-top:30px;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	border-radius: 11px;
	cursor:pointer;
	background-color: #5DEFB9;;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-top:-4px;
  	font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

.select-box {
	 	width:100%;
	}


@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}



