@charset "UTF-8";

.file-area {
  width: 100%;
  position: relative;
}

  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-dummy {
    width: 40%;
    padding: 30px;
    margin-left:25%;
    margin-top:4%;
    background: rgba(255,255,255,0.2);
    border: 2px dashed rgba(255,255,255,0.2);
    text-align: center;
    transition: background 0.3s ease-in-out;
  }
   .file-dummy .success {
      display: none;
    }
  
  
  .file-dummy:hover {
    background: rgba(255,255,255,0.1);
  }
  
  input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255,255,255,0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  input[type=file]:valid + .file-dummy {
    border-color: rgba(0,255,0,0.4);
    background-color: rgba(0,255,0,0.3);
  }
   input[type=file]:valid + .file-dummy .success {
      display: inline-block;
    }
    
    input[type=file]:valid + .file-dummy .default {
      display: none;
    }
  
