
body{
	background:url(../img/arena2.jpg);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;	
	display: block;
	min-height: 100vh;
}
header{
	font-size:24px;
	color:blanchedalmond;
}

.total-container{
	position: absolute;
    left: 50%;
	width:650px;
	margin:auto;
	padding: 50px 35px 10px 35px;
	text-align: center;	
	overflow:hidden;
	background-color:rgba(0,129,230,0.5);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
  	margin-top:30px;
	margin-left: -260px;
	
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
  	border-radius:7px;
  	
}

.progress-bar-wrapper{
	margin-top:10%;
	margin-bottom:10%;
}

.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
	 content: counter(stepNum);
	 font-family: 'quicksand',Arial, Helvetica, sans-serif;
	 font-weight: 900;
}
 .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
	 background-color: #ededed;
}
 .multi-steps {
	 display: table;
	 table-layout: fixed;
	 width: 100%;
}
 .multi-steps > li {
	 counter-increment: stepNum;
	 text-align: center;
	 display: table-cell;
	 position: relative;
	 color: #5DEFB9;
}
 .multi-steps > li:before {
	 content: '\2713';
	 display: block;
	 margin: 0 auto 4px;
	 background-color: #fff;
	 width: 36px;
	 height: 36px;
	 line-height: 32px;
	 text-align: center;
	 font-weight: bold;
	 border-width: 4px;
	 border-style: solid;
	 border-color: #5DEFB9;
	 border-radius: 50%;
}
 .multi-steps > li:after {
	 content: '';
	 height: 8px;
	 width: 100%;
	 background-color: #5DEFB9;
	 position: absolute;
	 top: 16px;
	 left: 50%;
	 z-index: -1;
	 transition: 0.8s ease-in-out;
	 
}
 .multi-steps > li:last-child:after {
	 display: none;
}
 .multi-steps > li.is-active:before {
	 background-color: #fff;
	 border-color: #5DEFB9;
}
 .multi-steps > li.is-active ~ li {
	 color: #808080;
}
 .multi-steps > li.is-active ~ li:before {
	 background-color: #ededed;
	 border-color: #ededed;
}

.total-container .form-div{
	width: 100%;
	overflow: hidden;
	
	}

.form-div form{
	display: flex;
	width: 600%;
}

.form-div form .page{
	width: 18%;
	transition: margin-left 0.3s ease-in-out;
}



.form-div form .page .field{
width: 100%;
margin:10px;


}


.field-btn{
	margin-top:30px;
	display:flex;
}

.feedback-input {
	color:#3c3c3c;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  	font-weight:600;
	font-size: 20px;
	border-radius: 11px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-top:20px;
	margin-bottom: 20px;
	margin-left: 16px;
	position:relative;
	width: 90%;
    left: -6%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

input:hover, input:focus{
	background-color:white;
}



.button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:right;
	width: 45%;
	border: #0088FF solid 4px;
	border-radius: 11px;
	cursor:pointer;
	background-color: #5DEFB9;;
	color:white;
	font-size:14px;
	padding-bottom:13px;
	padding-top:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-right:9px;
  	font-weight:700;
  	outline:none;
}

.button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

.select-box {
	 	width:100%;
	}

@media only screen and (max-width: 850px) {
	
	.total-container{	
		width: 95%;
		margin-left: -48%;
		margin-right: -20%;
	}
	
	.field{
	
	width:89%
	}

	.feedback-input{
		width:90%

	}
	
	.container{
	padding-left:0%;
	padding-right:0%;
	
	}

}

.form-label {
  font-weight: 600;
  font-size: 19px;
  color: blanchedalmond;
  margin-bottom:5px;
  margin-right:50px;
  text-transform: uppercase;
  display:block;
  
}

.button-blue.nextBtn0{

	width:200%
	
}

.form-controll {
  display: block;
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.3);
  color: #fff;
  font-weight: 200;
}
  .form-controll:focus {
    outline: 2px solid rgba(255,255,255,0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }


.form-group {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

span{
	color: red;
    font-size: 16px;
    font-weight: 800;
    padding-left: 20px;
    position: relative;
    display:block;
    left: -8%;
    margin-top: -10px;
    margin-bottom: 20px;
}




