@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');

*{
	margin:0;
	padding:0;
	font-family: 'quicksand',Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	
}


.avatar-image {
	 object-fit:contain;
	 height:50px;
	 width:50px;
	 margin-right:10px;
	 cursor: pointer;
}
 .avatar-dropdown-menu {
	 position: relative;
	 cursor: pointer;
}
 .open .avatar-dropdown-menu-items {
	 display: block;
	 visibility: visible;
	 opacity: 1;
	 transform: scale(1) translate(0,0);
}
 .avatar-dropdown-menu-items {
	 visibility: hidden;
	 transition: all .2s;
	 transform: scale(.8) translate(20px,-30px);
	 opacity: 0;
	 position: absolute;
	 z-index: 3;
	 right: 0;
	 top: calc(100% + 5px);
	 padding: 0;
	 margin: 0;
	 background: #0089b6;
	 line-height: 45px;
	 padding: 8px 0;
	 min-width: 180px;
	 border-radius: 3px;
	 box-shadow: 0 5px 5px 0 rgba(0,0,0,0.9);
}
 .avatar-dropdown-menu-items a {
	 padding: 0 1rem;
	 display: block;
	 color: #555;
}
 .avatar-dropdown-menu-items a:hover {
	 background: #fafafa;
}

 #test {
	color:blue;
}
 

nav{
	background: #0082e6;
	height: 80px;
	position:sticky;
 	top:0;
 	z-index:10;
}

label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 20px;
	font-weight: bold;
}

nav #link{
	float: right;
	margin-right: 20px;
	z-index:2;
}

nav #link li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav #link li a{
	color:white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
}

a.active,a:hover{
	background: #1b9bff;
	transition:0.5s;
}

.checkbtn{
	font-size: 30px;
	color:white;
	float:right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;

}

.div-profile-image{
	object-fit:contain;
	height:50px;
	width:50px;
	margin-right:10px;
}

.source{
	position:absolute;
	object-fit: cover;
    width:49px;
    margin-top:13px;
    margin-left:-10px;
	border-radius:80%;
	background-color:white;
	border:#1F2833 solid 3px;
	transition:0.3s;
}


@media screen and (max-width:1180px){
	
	.checkbtn{
		display:block;
	}
	
	#link{
		position: fixed;
		width:100%;
		height:100vh;
		background: #2c3e50;
		top:80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}

	nav #link li{
		display:block;
	}

	nav #link li a{
		font-size:20px;
	}

	a.active.a:hover{
		background:none;
		color:#0082e6;
	}

	#check:checked ~ ul{
		left:0;
	}
}

@media screen and (max-width:800px){
	 label.logo{
    	font-size:30px;
    }
}

@media screen and (max-width:600px){
	 label.logo{
    	font-size:25px;
    }
}

@media screen and (max-width:400px){
	 label.logo{
    	font-size:20px;
    }
}

@media screen and (max-width:350px){
	 label.logo{
    	font-size:15px;
    }
}
