@charset "UTF-8";

a:hover{
	color: yellow;
	background-color: blue;
}

body{
	background-color:#1F2833;;
}

div.home{
	margin-top:3%;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
div.split{
	height: 100%;
	width: 25%;
	text-align:center;
	border: 1px solid #008080 ;
	color:#45A29E;
}

div.robe {
	
}

div.altriTornei{
  
}

div.news{
  
}
div.news ul{
	list-style-type:none;
}

