@charset "UTF-8";

a:hover{
	color: yellow;
	background-color: blue;
}

h1 {
	color: olive;
}

h6{
	font-family: cursive;
}

body{
	background-color: #357EC7;
}

.split{
	height: 100%;
	width: 33%;
}

.robe {
	left: 0;
}

.altriTornei{
	left:50%;
}

.news{
	right:0;
}



