@charset "UTF-8";

 body {
	 background: #f2f2f2;
	 font-size: 14px;
	 font-family: 'Open Sans', sans-serif;
	 line-height: 1;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
 .container {
	 display: block;
	 max-width: 480px;
	 min-width: 300px;
	 margin: 0 auto;
	 padding: 0 40px;
}
 .modal {
	 background: #FFF;
	 overflow: hidden;
}
 .modal .form .form-row {
	 margin: 0 0 30px;
}
 .modal .form .form-row:last-child {
	 margin: 0;
}
 .modal .form .form-row:last-child .input-group {
	 width: 75%;
	 margin: 0 15px 0 0;
}
 .modal .form .form-row:last-child .input-group:last-child {
	 width: 25%;
	 margin: 0 0 0 15px;
}
 .modal .form .input-group {
	 width: 100%;
}
 .modal .form label {
	 display: block;
	 width: 100%;
	 margin: 0 0 10px;
	 color: #00A6EA;
	 font-size: 12px;
	 font-weight: 700;
	 letter-spacing: 1px;
	 text-transform: uppercase;
}
 .modal .form input {
	 outline: none;
	 display: block;
	 background: rgba(0,0,0,0.1);
	 width: 100%;
	 margin: 0;
	 border: 0;
	 padding: 15px;
	 color: #999;
	 font-size: 12px;
	 font-weight: 700;
}
 .modal .header {
	 background: #00A6EA;
	 padding: 30px;
	 text-align: center;
}
 .modal .header h1 {
	 margin: 0 0 15px;
	 color: #FFF;
	 font-size: 14px;
	 font-weight: 700;
	 letter-spacing: 1px;
	 text-transform: uppercase;
}
 .modal .header .card-type .card {
	 position: relative;
	 width: 25%;
	 min-width: 54px;
	 text-align: center;
}
 .modal .header .card-type .card.active:after {
	 display: block;
	 bottom: -30px;
}
 .modal .header .card-type .card:after {
	 content: '';
	 position: absolute;
	 bottom: -60px;
	 left: 50%;
	 margin: 0 0 0 -10px;
	 border-right: 10px solid transparent;
	 border-left: 10px solid transparent;
	 border-bottom: 10px solid #FFF;
}
 .modal .header .card-type .card img {
	 display: inline-block;
}
 .modal .header .card-type li {
	 display: inline-block;
	 margin: 0 10px;
}
 .modal .content {
	 padding: 30px;
}
 .modal .footer .button {
	 outline: none;
	 display: block;
	 background: #E39C14;
	 width: 100%;
	 border: 0;
	 padding: 20px 30px;
	 color: #FFF;
	 font-weight: 700;
	 letter-spacing: 1px;
	 text-transform: uppercase;
	 cursor: pointer;
}
 .info {
	 width: 300px;
	 margin: 50px auto;
	 text-align: center;
}
 .info h1 {
	 margin: 0 0 15px;
	 padding: 0;
	 font-size: 24px;
	 font-weight: 400;
	 color: #333;
}
 .info span {
	 color: #666;
	 font-size: 12px;
}
 .info span a {
	 color: #000;
	 text-decoration: none;
}
 .info span .fa {
	 color: #00A6EA;
}
 