@charset "UTF-8";

body{
	color:#45A29E;
	background:url(../img/black-gradient.png) repeat;
}

h2{

	padding-top:1%;
}
.dati{
	
}
.testlabel{
	display:block;
}
th{
	margin-left:200px;
}
table{
	width:100%;
}
.tuttecose{
	font-size:20px;
}
input[type="text"]{
	width:50%;
	color:#3c3c3c;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 20px;
	border-radius: 11px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-top: 10px;
	box-sizing: border-box;
 	border: 3px solid rgba(0,0,0,0);
  	flex-grow:1;
}