@charset "UTF-8";

.container {
 	 margin-top: 0px;
 	 padding: 32px;
 	 	 	 	
}

.container *{
	display: block;
	margin: 0;
  	box-sizing: border-box;
  	
}
	
.select-box {
 	display: flex;
 	width: 55%;
	display:flex;
  	flex-direction: column;
 	 	
 	 	
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
   display: block;
  order: 1;
}
	
	
.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
    display: block;
  

  order: 0;
}

.selected::after {
  content: "";
  background: url("../img/arrow-down.svg");
  color: white;
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 9px;
  transition: all 0.4s;
  display: block;
  
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
    display: block;
    border:2px solid;
    border-color:#45A29E;
  
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
    display: block;
    border-color:#45A29E;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
    display: block;
        border-color:#45A29E;
    
  
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
    display: block;
  
}

.select-box .option-container .option label{
	 display: block;
	 color: black;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
    display: block;
  
}

.select-box .option:hover {
  background: #414b57;
    display: block;
  
}

.select-box label {
  cursor: pointer;
    display: block;
  
}

.select-box .option .radio {
display: none;
  
}